{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
{% include 'home/nav_bar.html' %}

<h1 style="font-size: 50px;"> <b>BASHIR ADIGUN</b></h1>
<img src="{% static "home/images/codecamp.jpg" %}" alt="home" style="width: 70vw; height: 70vh;"/>
<p><h3 style="font-size: 30px; font-style: italic;">Welcome to my portfolio</h3></p>
<br>
<p style="font-size: 25px;">I'm a web developer who specialized in frontend. I also have a background in python and django. Checkout my work and feel free to contact me.</p>
{% endblock content %}